#id_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#my_btn{

    justify-content: center;
    align-items: center;
}
#my_btn1{
    
    justify-content: center;
    align-items: center;
}